<section class="banner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="5000">
            <img src="assets/banner.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="assets/banner.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="assets/banner.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
  </section>